<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49354242108-puqd7egot7u4fja5ktea1ga8158q43pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49354242108-puqd7egot7u4fja5ktea1ga8158q43pg</string>
	<key>API_KEY</key>
	<string>AIzaSyCIyK03_xER1HTQNFBlHSevfTEyfnuuA-c</string>
	<key>GCM_SENDER_ID</key>
	<string>49354242108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutterClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-clone98</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-clone98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49354242108:ios:e1a76ccc9b3b9bf6abab39</string>
</dict>
</plist>